body{
    font-family: Poppins;
}
// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

  

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body & Locked
body {
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }

    .rounded{
        &__btn{
            width: 155px;
            height: 46px;
            background:$buttonColor;
            padding: 14px 30px;
            border-radius:10px;
            color: $burgerColor;
            transition: .3s color;
           &:hover{
            color:#242424;
           }
        }
        &.active{
            color: $mainColor;
            
        }
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
