// ========================= [ Header styles ] =========================
.header {
    // background-color: #43adff;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 0;
    @media (max-width: $breakpoint992) {
        justify-content: start;
    }

        
    }

.logo {
    padding-right: 50px;
    img {
        width: 150px;
        height: 100px;
        
    }
}
.nav{
    &__btns{
        display: flex;
        gap:16px;
        text-align: center;
        align-items:center;
        @media (max-width: $breakpoint992) {
            margin-left: auto;
            margin-right: 25px;
        }
    
    }
    &__btn{
        @media (max-width: $breakpoint768) {
            display: none;
            &.active{
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: 2;
                background:#ff9c33;
                color: $mainColor;
            }
        }
    
    }
    
}

.select {
    width: 45px;
    position: relative;
    z-index: 1;

    &__backdrop {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        z-index: -1;
        display: none;
    }

    &.open {
        .select__dropdown {
            display: block;
            z-index: 5;
        }

        // .select__input {
        //     border-bottom: none;
        // }

        .select__backdrop {
            display: block;
        }
    }

    // Select input styles
    &__input {
        display: flex;
        align-items: center;
        cursor: pointer;
        display: flex;
        font-style: normal;
        font-size: 16px;
        width: 100%;
        color: #252241;

        // Select image styles
        .select__img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        // Select arrow styles
        .select__arrow {
            pointer-events: none;
            margin-left: auto;
            width: 10px;
            transition: 0.3s transform;
            &.open {
                transform: rotate(-180deg);
            }
        }

        span {
            pointer-events: none;
        }
    }

    // Select dropdown styles
    &__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #ffffff;
        z-index: 5;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
        

        .select__list {
            .select__item {
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 10px;
                font-style: normal;
                font-size: 16px;
                color: #000000;
                background:$buttonColor;
                text-align: center;

                .select__img {
                    border-radius: 50%;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }

                // Selected item styles
                &.selected {
                    background-color: #aa6d10;
                    color: white;
                    text-align: center;
                }

                // Select item hover state
                &:hover {
                    background-color:#aa6d10;
                    color: white;
                    transition: 0.15 background-color ease-in;
                }
            }
        }
    }
}



// ========================== [ Menu styles ] ==========================
.menu {
    display: flex;
    gap: 30px;

    // .menu__item
    &__item {
        display: flex;
        position: relative;
    }

    // .menu__item-link
    &__item-link {
        color: $burgerColor;
        font-size: 22px;
        display: flex;
        position: relative;
        transition: 0.5s color;
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -3px;
            background: #131418;
            height: 1px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;

            // Comment if you need border animation
            display: none;
        }
        &:hover {
            color: $buttonColor;
            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $buttonColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;
        }
    }
}

// ========================= [ Burger styles ] =========================
.burger {
    display: none;
    background: transparent;
    z-index: 3;
   
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;

        &.active {
            &:before {
                background: $burgerColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $buttonColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
}
