// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1140;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #150C01;
$buttonColor: #dc770b;


// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

